# Data loading 

Here we will be using the ```.paraquet``` file we downloaded and do the following:
 - Check metadata and table datatypes of the paraquet file/table
 - Convert the paraquet file to pandas dataframe and check the datatypes. Additionally check the data dictionary to make sure you have the right datatypes in pandas, as pandas will automatically create the table in our database.
 - Generate the DDL CREATE statement from pandas for a sanity check.
 - Create a connection to our database using SQLAlchemy
 - Convert our huge paraquet file into a iterable that has batches of 100,000 rows and load it into our database.

In [1]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time

In [2]:
# Read metadata 
pq.read_metadata('yellow_tripdata_2025-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x75bcc5fc7f10>
  created_by: parquet-cpp-arrow version 16.1.0
  num_columns: 20
  num_rows: 3475226
  num_row_groups: 4
  format_version: 2.6
  serialized_size: 11212

In [4]:
# Read file, read the table from file and check schema
file = pq.ParquetFile('yellow_tripdata_2025-01.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double
cbd_congestion_fee: double

In [5]:
# Convert to pandas and check data 
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 490.5+ MB

We need to first create the connection to our postgres database. We can feed the connection information to generate the CREATE SQL query for the specific server. SQLAlchemy supports a variety of servers.

In [6]:
# Create an open SQL database connection object or a SQLAlchemy connectable
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [7]:
# Generate CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

Datatypes for the table looks good! Since we used paraquet file the datasets seem to have been preserved. You may have to convert some datatypes so it is always good to do this check.

## Finally inserting data

There are 2,846,722 rows in our dataset. We are going to use the ```parquet_file.iter_batches()``` function to create batches of 100,000, convert them into pandas and then load it into the postgres database.

In [8]:
#This part is for testing


# Creating batches of 100,000 for the paraquet file
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

# Take the first batch for testing
df = next(batches_iter).to_pandas()
df

# Creating just the table in postgres
#df.head(0).to_sql(name='ny_taxi_data',con=engine, if_exists='replace')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1,1.60,1,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1,0.50,1,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1,0.60,1,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3,0.52,1,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3,0.66,1,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2025-01-02 12:29:15,2025-01-02 12:46:16,2,2.44,1,N,186,50,1,17.7,0.0,0.5,4.34,0.0,1.0,26.04,2.5,0.0,0.0
99996,2,2025-01-02 12:54:47,2025-01-02 13:11:29,3,0.88,1,N,246,164,1,14.9,0.0,0.5,1.00,0.0,1.0,19.90,2.5,0.0,0.0
99997,2,2025-01-02 12:12:22,2025-01-02 12:39:41,1,5.33,1,N,230,88,1,29.6,0.0,0.5,6.72,0.0,1.0,40.32,2.5,0.0,0.0
99998,2,2025-01-02 12:31:07,2025-01-02 12:58:04,1,2.67,1,N,48,263,1,23.3,0.0,0.5,8.19,0.0,1.0,35.49,2.5,0.0,0.0
99999,2,2025-01-02 12:59:38,2025-01-02 13:08:31,1,1.27,1,N,263,141,1,10.0,0.0,0.5,2.80,0.0,1.0,16.80,2.5,0.0,0.0

In [9]:
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken     15.158 seconds.

inserting batch 2...
inserted! time taken     14.870 seconds.

inserting batch 3...
inserted! time taken     15.074 seconds.

inserting batch 4...
inserted! time taken     14.806 seconds.

inserting batch 5...
inserted! time taken     15.091 seconds.

inserting batch 6...
inserted! time taken     15.380 seconds.

inserting batch 7...
inserted! time taken     15.232 seconds.

inserting batch 8...
inserted! time taken     15.172 seconds.

inserting batch 9...
inserted! time taken     15.185 seconds.

inserting batch 10...
inserted! time taken     15.194 seconds.

inserting batch 11...
inserted! time taken     15.430 seconds.

inserting batch 12...
inserted! time taken     14.704 seconds.

inserting batch 13...
inserted! time taken     14.765 seconds.

inserting batch 14...
inserted! time taken     15.289 seconds.

inserting batch 15...
inserted! time taken     15.232 seconds.

inserting batch 16...
inserted! time taken     15.139 seconds.

inserting batch 17...
inserted! time taken     15.214 seconds.

inserting batch 18...
inserted! time taken     14.963 seconds.

inserting batch 19...
inserted! time taken     14.527 seconds.

inserting batch 20...
inserted! time taken     15.166 seconds.

inserting batch 21...
inserted! time taken     14.582 seconds.

inserting batch 22...
inserted! time taken     15.325 seconds.

inserting batch 23...
inserted! time taken     14.993 seconds.

inserting batch 24...
inserted! time taken     15.335 seconds.

inserting batch 25...
inserted! time taken     14.874 seconds.

inserting batch 26...
inserted! time taken     15.017 seconds.

inserting batch 27...
inserted! time taken     15.079 seconds.

inserting batch 28...
inserted! time taken     14.819 seconds.

inserting batch 29...
inserted! time taken     15.368 seconds.

inserting batch 30...
inserted! time taken     14.363 seconds.

inserting batch 31...
inserted! time taken     14.023 seconds.

inserting batch 32...
inserted! time taken     13.394 seconds.

inserting batch 33...
inserted! time taken     13.918 seconds.

inserting batch 34...
inserted! time taken     13.777 seconds.

inserting batch 35...
inserted! time taken     11.584 seconds.

Completed! Total time taken was    518.643 seconds for 35 batches.

## Extra bit

While trying to do the SQL Refresher, there was a need to add a lookup zones table but the file is in ```.csv``` format. 

Let's code to handle both ```.csv``` and ```.paraquet``` files!

In [10]:
from time import time
import pandas as pd 
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [15]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv'
# url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-09.parquet'

file_name = url.rsplit('/', 1)[-1].strip()
file_name

'taxi+_zone_lookup.csv'

In [16]:
if '.csv' in file_name:
    print('yay') 
    df = pd.read_csv(file_name, nrows=10)
    df_iter = pd.read_csv(file_name, iterator=True, chunksize=100000)
elif '.parquet' in file_name:
    print('oh yea')
    file = pq.ParquetFile(file_name)
    df = next(file.iter_batches(batch_size=10)).to_pandas()
    df_iter = file.iter_batches(batch_size=100000)
else: 
    print('Error. Only .csv or .parquet files allowed.')
    sys.exit()

yay

This code is a rough code and seems to be working. The cleaned up version will be in `data-loading-parquet.py` file.